$breakpoint: 660px;
$primary: rgb(32, 209, 37);
$secondary: rgb(57, 107, 86);

.something {
  color: rgb(73, 188, 120);
}
.selection {
  @media only screen and (max-width: $breakpoint) {
    height: 100%;
    padding-bottom: 4rem;
  }
}

.question {
  @media only screen and (max-width: $breakpoint) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.user-selection-row {
  @media only screen and (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.user-card {
  display: flex;
  justify-content: center;
  background: #f7fafc;
  &:hover,
  &:active {
    box-shadow: none;
    background: rgb(237, 243, 248);
    border: 3px solid rgb(35, 231, 195);
    .ant-card-cover {
      background: rgb(35, 231, 195);
    }
  }
  &__icon {
    @media only screen and (max-width: $breakpoint) {
      font-size: 4rem !important;
    }
  }
  .ant-card-cover {
    transition: background-color 300ms;
    background-color: #e2e8f0;
    border-radius: 50%;
    width: 14rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoint) {
      width: 8rem;
      height: 8rem;
      align-items: center;
    }
  }
  @media only screen and (max-width: $breakpoint) {
    width: 90vw;
    height: 16rem;
  }
}
