.chartWrapper {
  position: relative;
  overflow-x: auto;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  &--scaleUp {
    border: 1px solid transparent;
  }
  &--scaleDown {
    border: none;
  }
}

$breakPoint: 768px;

.infoRow {
  @media only screen and (max-width: $breakPoint) {
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__col {
    width: 49.5%;
    @media only screen and (max-width: $breakPoint) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
