.promoCarousel {
  .control-dots {
    display: block;
    position: relative;
  }
  .dot {
    background: rgb(7, 25, 80) !important;
  }
  .dot.selected {
    background: rgb(7, 25, 80);
  }
}
