$secondary: rgb(23, 186, 121);
$secondary_dark: rgb(21, 172, 112);

.unit-tag {
  font-weight: normal;
  background: linear-gradient(135deg, $secondary, $secondary_dark);
  margin-bottom: 0.25em;
}
