@import '~antd/dist/antd.min.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';
@tailwind components;
@tailwind utilities;

// Conflicts with antd css
// @tailwind base;

$themeColor: hsl(214, 79%, 15%);

html {
  background-color: hsl(214, 79%, 15%);
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-modal-header .ant-modal-title {
  font-family: inherit;
  font-weight: 700;
}

.ant-table-thead .ant-table-cell {
  font-family: inherit;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inherit {
  display: inherit;
}

.w-72 {
  width: 18rem;
}

.h-72 {
  height: 18rem;
}

.h-80 {
  height: 20rem;
}

.h-88 {
  height: 28rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.ant-table-filter-dropdown {
  border-radius: 0.25rem;
}

.cursor-grab {
  cursor: grab;
}

.anticon.anticon-left,
.anticon.anticon-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.border-r-none {
  border-right: none;
}

.ant-notification-notice {
  padding: 12px !important;
}

.ant-message-notice-content .ant-message-custom-content {
  display: flex;
  align-items: center;
}

.bg-theme-darkblue-5 {
  background-color: hsl(214, 79%, 30%);
}

.bg-theme-darkblue-6 {
  background-color: hsl(214, 79%, 23%);
}

.bg-theme-green-5 {
  background-color: hsl(169, 80%, 52%);
}

.border-theme-green-5 {
  border-color: hsl(169, 80%, 52%);
}

.bg-theme-green-4 {
  background-color: hsl(169, 80%, 42%);
  &__hover:hover,
  &__hover:active,
  &__hover:focus {
    background-color: hsl(169, 80%, 42%);
  }
}

.border-theme-green-4 {
  border-color: hsl(169, 80%, 42%);
  &__hover:hover,
  &__hover:active,
  &__hover:focus {
    border-color: hsl(169, 80%, 42%);
  }
}

.bottom-1 {
  bottom: 0.5rem;
}

$something: hsl(214, 79%, 25%);
